__pycache__
.vscode
.ipynb_checkpoints
core.*

app_models
*.ipynb
*.ckpt
*.safetensors
*.nfs*
./*.png
./*.mp4
dummy*
exp_nohup
*.onnx
*.pth
*.pkl

checkpoints
deprecated
assets
samples
sampled_images
xformers
third_party
pretrained_models
demo/tmp
demo/outputs
logs
DATA
materials
nohup.out
materials
eval_fvd
tmp*
*ipynb
dp_logs
kp_logs
asdasd*
kp_logs_resume
cuda_11.8*
preprocess
refs
exp_grid
zxc*
*debug*.sh